body {
  background-color: #111;
  color: #FFF;
}

#video-container {
  position: relative;
  text-align: center;
  padding: 20px;
}

#video-player {
  width: 640px;
  height: 360px;
  margin: 0 auto;
}

#slider-container {
  margin-top: 20px;
}

h3 {
  color: #BBB;
  margin-bottom: 5px;
}

#video-slider {
  width: 80%;
  margin: 0 auto;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#flashing-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
}
